@inject IJSRuntime js

<div class='@(Fixed ? "fixed top-0 right-0 p-4" : "inline-grid") @Class'>
    <button
        class="ml-auto text-slate-700 dark:text-slate-50 flex items-center"
        @onclick=ToggleDarkMode
    >
        <i class='@(dark ? "icon-moon" : "icon-sun") text-xl'></i>

        @if (Full)
        {
            <span class="ml-1">@(dark ? "Modo oscuro" : "Modo claro")</span>
        }
    </button>
</div>

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;
        dark = await js.GetDarkMode();
        StateHasChanged();
    }

    bool dark;

    [Parameter] public string Class { get; set; } = string.Empty;
    [Parameter] public bool Fixed { get; set; }
    [Parameter] public bool Full { get; set; }

    async Task ToggleDarkMode()
    {
        dark = await js.ToggleDarkMode();
        StateHasChanged();
    }
}